@media screen and (min-width: 1903px) {

    /*
   @font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_aZA3g3D_u50.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
    */
    * {
        box-sizing: border-box;
        color: #E1D3C1;
    }

    body {
        font-family: Montserrat;
        background: url("Background.jpg") no-repeat center;
        -webkit-background-size: cover;
        background-size: cover;
        min-height: 100%;
    }

    .logotype {
        display: flex;
        text-align: center;
        width: 272px ;
        height: 66.29px;
        margin: 1.52em auto 0 auto;
    }
    .logotype-mobile {
        display: none;
    }
    .login__form {
        font-family: Montserrat;
        position: relative;
        margin-top: 211px;
        margin-left: calc(50% - 540px / 2);
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 540px;
        height: 420px;
        background-color: #2a2a29;
        border-radius: 20px;
        font-size: 18px;
        font-style: normal;
        font-weight: 200;
        line-height: 22px;
    }

    .login__form__title {
        font-size: 26px;
        font-style: normal;
        font-weight: 200;
        line-height: 41px;
        text-align: center;
        padding: 30px 0;
    }

    .login__form__input {
        font-family: Montserrat;
        color: #E1D3C1;
        width: 500px;
        height: 52px;
        padding: 25px 0 10px 0;
        margin: 0 auto;
        font-style: normal;
        font-weight: 200;
        font-size: 18px;
        line-height: 22px;
        background-color: #2a2a29;
        border: none;
        border-bottom: 2px solid #4F3F84;
        margin-bottom: 26px;
        outline: none;
        opacity: 1;
        z-index: 9;
    }

    .login__label__email {
        display: none;
        background-color: #2a2a29;
        top: 95px;
        position: absolute;
        font-size: 12px;
        left: 10px;
        text-align: left;
        padding-left: 10px;
        opacity: 0.6;
        z-index: 999;
    }

    .login__label__pass {
        display: none;
        background-color: #2a2a29;
        top: 172px;
        position: absolute;
        font-size: 12px;
        left: 10px;
        text-align: left;
        padding-left: 10px;
        opacity: 0.6;
        z-index: 999;
    }

    .question-img {
        position: absolute;
        bottom: 205px;
        right: 20px;
        z-index: 999;
    }
    .question-img:hover {
        cursor: pointer;
    }

    .login__form__input:focus {
        background-color: #2a2a29;
        border-bottom: 2px solid #2d2929;
    }

    .login__submit__button, button {
        font-family: Montserrat;
        font-weight: 300;
        font-size: 18px;
        line-height: 22px;
        width: 430px;
        height: 72px;
        margin: 0 auto;
        margin-bottom: 30px;
        background-color: #4F3F84;
        border-color: #4F3F84;
        border-radius: 15px;
        color: inherit;
        cursor: pointer;
        outline: none;
    }
    .login__submit__button:focus {
        background-color: #504D49;
        border-color: rgba(34, 34, 34, 0.7);
    }
    .login__submit__button:hover {
        background-color: #5C34FA;
        border: #5C34FA;
    }

    .login__submit__button:focus {
        background-color: #504D49;
        border-color: #504D49;
    }

    .login__questions {
        font-family: Montserrat;
        display: flex;
        justify-content: center;
    }

    .login__register {
        text-decoration: underline;
        padding-left: 4px;
    }

    .login__register:hover {
        cursor: pointer;
    }

    .arr-reg {
        display: none;
    }

    ::-webkit-input-placeholder {
        position: relative;
        background-color:  #2a2a29;
        color: #E1D3C1;

    }
    /*
    Клипач, добавил микроклассы
     */
    .red_bottom {
        border-bottom: 2px solid #F2512D;
    }

    .green_bottom {
        border-bottom: 2px solid #57B535;
    }

    .app_background {
        background-color: rgba(87, 85, 85, 0.7);
    }

}


@media screen and (min-width: 1200px) and (max-width: 1902.98px) {

    /*
   @font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_aZA3g3D_u50.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
    */
    * {
        box-sizing: border-box;
        color: #E1D3C1;
    }

    body {
        font-family: Montserrat;
        background: url("Background.jpg") no-repeat center;
        -webkit-background-size: cover;
        background-size: cover;
        min-height: 100vh;
    }

    .logotype {
        display: flex;
        text-align: center;
        width: 272px ;
        height: 66.29px;
        margin: 1.52em auto 0 auto;
    }
    .logotype-mobile {
        display: none;
    }
    .login__form {
        font-family: Montserrat;
        position: relative;
        margin-top: 211px;
        margin-left: calc(50% - 540px / 2);
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 540px;
        height: 420px;
        background-color: #2a2a29;
        border-radius: 20px;
        font-size: 18px;
        font-style: normal;
        font-weight: 200;
        line-height: 22px;
    }

    .login__form__title {
        font-size: 26px;
        font-style: normal;
        font-weight: 200;
        line-height: 41px;
        text-align: center;
        padding: 30px 0;
    }

    .login__form__input {
        font-family: Montserrat;
        color: #E1D3C1;
        width: 500px;
        height: 52px;
        padding: 25px 0 10px 0;
        margin: 0 auto;
        font-style: normal;
        font-weight: 200;
        font-size: 18px;
        line-height: 22px;
        background-color: #2a2a29;
        border: none;
        border-bottom: 2px solid #4F3F84;
        margin-bottom: 26px;
        outline: none;
        opacity: 1;
        z-index: 9;
    }

    .login__label__email {
        display: none;
        background-color: #2a2a29;
        top: 95px;
        position: absolute;
        font-size: 12px;
        left: 10px;
        text-align: left;
        padding-left: 10px;
        opacity: 0.6;
        z-index: 999;
    }

    .login__label__pass {
        display: none;
        background-color: #2a2a29;
        top: 172px;
        position: absolute;
        font-size: 12px;
        left: 10px;
        text-align: left;
        padding-left: 10px;
        opacity: 0.6;
        z-index: 999;
    }

    .question-img {
        position: absolute;
        bottom: 205px;
        right: 20px;
        z-index: 999;
    }
    .question-img:hover {
        cursor: pointer;
    }

    .login__form__input:focus {
        background-color: #2a2a29;
        border-bottom: 2px solid #2d2929;
    }

    .login__submit__button, button {
        font-family: Montserrat;
        font-weight: 300;
        font-size: 18px;
        line-height: 22px;
        width: 430px;
        height: 72px;
        margin: 0 auto;
        margin-bottom: 30px;
        background-color: #4F3F84;
        border-color: #4F3F84;
        border-radius: 15px;
        color: inherit;
        cursor: pointer;
        outline: none;
    }
    .login__submit__button:focus {
        background-color: #504D49;
        border-color: rgba(34, 34, 34, 0.7);
    }
    .login__submit__button:hover {
        background-color: #5C34FA;
        border: #5C34FA;
    }

    .login__submit__button:focus {
        background-color: #504D49;
        border-color: #504D49;
    }

    .login__questions {
        font-family: Montserrat;
        display: flex;
        justify-content: center;
    }

    .login__register {
        text-decoration: underline;
        padding-left: 4px;
    }

    .login__register:hover {
        cursor: pointer;
    }

    .arr-reg {
        display: none;
    }

    ::-webkit-input-placeholder {
        position: relative;
        background-color: #2a2a29;
        color: #E1D3C1;

    }
    /*
    Клипач, добавил микроклассы
     */
    .red_bottom {
        border-bottom: 2px solid #F2512D;
    }

    .green_bottom {
        border-bottom: 2px solid #57B535;
    }

    .app_background {
        background-color: rgba(87, 85, 85, 0.7);
    }

}

/*
#F2512D  Красный
#57B535  Зеленый
*/



@media screen and (min-width: 992px) and (max-width: 1199.98px) {

    * {
        box-sizing: border-box;
        color: #E1D3C1;
    }

    body {
        font-family: Montserrat;
        background: url("Background.jpg") no-repeat center;
        -webkit-background-size: cover;
        background-size: cover;
        min-height: 100vh;
    }

    .logotype {
        display: flex;
        text-align: center;
        width: 272px ;
        height: 66.29px;
        margin: 1.52em auto 0 auto;
    }
    .logotype-mobile {
        display: none;
    }
    .login__form {
        font-family: Montserrat;
        position: relative;
        margin-top: 211px;
        margin-left: calc(50% - 540px / 2);
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 540px;
        height: 420px;
        background-color: #2a2a29;
        border-radius: 20px;
        font-size: 18px;
        font-style: normal;
        font-weight: 200;
        line-height: 22px;
    }

    .login__form__title {
        font-size: 26px;
        font-style: normal;
        font-weight: 200;
        line-height: 41px;
        text-align: center;
        padding: 30px 0;
    }

    .login__form__input {
        font-family: Montserrat;
        color: #E1D3C1;
        width: 500px;
        height: 52px;
        padding: 25px 0 10px 0;
        margin: 0 auto;
        font-style: normal;
        font-weight: 200;
        font-size: 18px;
        line-height: 22px;
        background-color: #2a2a29;
        border: none;
        border-bottom: 2px solid #4F3F84;
        margin-bottom: 26px;
        outline: none;
        opacity: 1;
        z-index: 9;
    }

    .login__label__email {
        display: none;
        background-color: #2a2a29;
        top: 95px;
        position: absolute;
        font-size: 12px;
        left: 10px;
        text-align: left;
        padding-left: 10px;
        opacity: 0.6;
        z-index: 999;
    }

    .login__label__pass {
        display: none;
        background-color: #2a2a29;
        top: 172px;
        position: absolute;
        font-size: 12px;
        left: 10px;
        text-align: left;
        padding-left: 10px;
        opacity: 0.6;
        z-index: 999;
    }

    .question-img {
        position: absolute;
        bottom: 205px;
        right: 20px;
        z-index: 999;
    }
    .question-img:hover {
        cursor: pointer;
    }

    .login__form__input:focus {
        background-color: #2a2a29;
        border-bottom: 2px solid #2d2929;
    }

    .login__submit__button, button {
        font-family: Montserrat;
        font-weight: 300;
        font-size: 18px;
        line-height: 22px;
        width: 430px;
        height: 72px;
        margin: 0 auto;
        margin-bottom: 30px;
        background-color: #4F3F84;
        border-color: #4F3F84;
        border-radius: 15px;
        color: inherit;
        cursor: pointer;
        outline: none;
    }
    .login__submit__button:focus {
        background-color: #504D49;
        border-color: rgba(34, 34, 34, 0.7);
    }
    .login__submit__button:hover {
        background-color: #5C34FA;
        border: #5C34FA;
    }

    .login__submit__button:focus {
        background-color: #504D49;
        border-color: #504D49;
    }

    .login__questions {
        font-family: Montserrat;
        display: flex;
        justify-content: center;
    }

    .login__register {
        text-decoration: underline;
        padding-left: 4px;
    }

    .login__register:hover {
        cursor: pointer;
    }

    .arr-reg {
        display: none;
    }

    ::-webkit-input-placeholder {
        position: relative;
        background-color: #2a2a29;
        color: #E1D3C1;

    }
    /*
    Клипач, добавил микроклассы
     */
    .red_bottom {
        border-bottom: 2px solid #F2512D;
    }

    .green_bottom {
        border-bottom: 2px solid #57B535;
    }

    .app_background {
        background-color: rgba(87, 85, 85, 0.7);
    }


}/*end media 992 - 1200 */


@media screen and (min-width: 480px) and (max-width: 991.98px) {

    * {
        box-sizing: border-box;
        color: #E1D3C1;
    }

    body {
        font-family: Montserrat;
        background: url("Background-mobile-old.jpg") no-repeat;
        -webkit-background-size: cover;
        background-size: cover;
        min-height: 100vh;
    }

    .logotype {
        display: none;
    }

    .logotype-mobile {
        display: flex;
        text-align: center;
        width: 112px ;
        height: 88px;
        margin: 72px auto 0 auto;
    }

    .login__form__title {
        font-size: 26px;
        font-style: normal;
        font-weight: 200;
        line-height: 31.43px;
        text-align: center;
        margin-top: 143px;
        margin-bottom: 30px;
    }

    .login__form {
        font-family: Montserrat;
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: -34px;
        font-size: 18px;
        font-style: normal;
        font-weight: 200;
        line-height: 22px;
    }

    .login__form__input {
        font-family: Montserrat;
        width: 100%;
        height: 50px;
        color: #E1D3C1;
        font-style: normal;
        font-weight: 200;
        font-size: 18px;
        line-height: 22px;
        padding: 10px 0 0 10px;
        background-color: #151514;
        border: none;
        border-bottom: 1.5px solid #4F3F84;
        outline: none;
    }

    .login__form__input:focus {
        background-color: #151514;
        border-bottom: 2px solid #E1D3C1;
    }

    .login__submit__button:focus {
        background-color: #151514;
        border-color: rgba(34, 34, 34, 0.7);
    }

    .login__label__email {
        display: none;
        background-color: #151514;
        top: 198px;
        position: absolute;
        font-size: 12px;
        text-align: left;
        padding-left: 10px;
        opacity: 0.6;
        z-index: 999;
    }

    .login__label__pass {
        display: none;
        background-color: #151514;
        top: 254px;
        position: absolute;
        font-size: 12px;
        text-align: left;
        padding-left: 10px;
        opacity: 0.6;
        z-index: 999;
    }

    .question-img {
        position: absolute;
        top: 266px;
        right: 10px;
        z-index: 999;
    }
    .question-img:hover {
        cursor: pointer;
    }

    ::-webkit-input-placeholder {
        position: relative;
        background-color: #151514;
        color: #E1D3C1;
    }

    .login__submit__button, button {
        font-family: Montserrat;
        font-weight: 300;
        font-size: 18px;
        line-height: 22px;
        width: 300px;
        height: 72px;
        margin: 30px auto 206px auto;
        background-color: #4F3F84;
        border-color: #4F3F84;
        border-radius: 15px;
        color: inherit;
        cursor: pointer;
        outline: none;
    }

    button {
        position: absolute;
    }
    .login__submit__button:hover {
        background-color: #5C34FA;
        border: #5C34FA;
    }
    .login__submit__button:focus {
        background-color: #504D49;
        border-color: #504D49;
    }
    .login__questions {
        font-family: Montserrat;
        display: flex;
        flex-direction: column;

        left: calc(50% - 5em / 2);
    }
    .login__register {
        text-decoration: none;
        padding-bottom: 10px;
    }
    .login__register:hover {
        cursor: none;
    }
    .login__no-login {
        display: none;
    }
    .arr-reg {
    }
} /*end media 480 - 767 */


@media screen and (min-width: 220px) and (max-width: 479.98px) {

    * {
        box-sizing: border-box;
        color: #E1D3C1;
    }

    body {
        font-family: Montserrat;
        background: url("Background-mobile-old.jpg") no-repeat;
        -webkit-background-size: cover;
        background-size: cover;
        min-height: 100vh;
    }

    .logotype {
        display: none;
    }

    .logotype-mobile {
        display: flex;
        text-align: center;
        width: 112px ;
        height: 88px;
        margin: 72px auto 0 auto;
    }

    .login__form__title {
        font-size: 26px;
        font-style: normal;
        font-weight: 200;
        line-height: 31.43px;
        text-align: center;
        margin-top: 143px;
        margin-bottom: 30px;
    }

    .login__form {
        font-family: Montserrat;
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: -34px;
        font-size: 18px;
        font-style: normal;
        font-weight: 200;
        line-height: 22px;
 }

    .login__form__input {
        font-family: Montserrat;
        width: 100%;
        height: 50px;
        color: #E1D3C1;
        font-style: normal;
        font-weight: 200;
        font-size: 18px;
        line-height: 22px;
        padding: 10px 0 0 10px;
        background-color: #151514;
        border: none;
        border-bottom: 1.5px solid #4F3F84;
        outline: none;
    }

    .login__form__input:focus {
        background-color: #151514;
        border-bottom: 2px solid #E1D3C1;
    }

    .login__submit__button:focus {
        background-color: #151514;
        border-color: rgba(34, 34, 34, 0.7);
    }

    .login__label__email {
        display: none;
        background-color: #151514;
        top: 198px;
        position: absolute;
        font-size: 12px;
        text-align: left;
        padding-left: 10px;
        opacity: 0.6;
        z-index: 999;
    }

    .login__label__pass {
        display: none;
        background-color: #151514;
        top: 254px;
        position: absolute;
        font-size: 12px;
        text-align: left;
        padding-left: 10px;
        opacity: 0.6;
        z-index: 999;
    }

    .question-img {
        position: absolute;
        top: 266px;
        right: 10px;
        z-index: 999;
    }
    .question-img:hover {
        cursor: pointer;
    }

    ::-webkit-input-placeholder {
        position: relative;
        background-color: #151514;
        color: #E1D3C1;
    }

    .login__submit__button, button {
        font-family: Montserrat;
        font-weight: 300;
        font-size: 18px;
        line-height: 22px;
        width: 300px;
        height: 72px;
        margin: 30px auto 206px auto;
        background-color: #4F3F84;
        border-color: #4F3F84;
        border-radius: 15px;
        color: inherit;
        cursor: pointer;
        outline: none;
    }

    button {
        position: absolute;
    }
    .login__submit__button:hover {
        background-color: #5C34FA;
        border: #5C34FA;
    }
    .login__submit__button:focus {
        background-color: #504D49;
        border-color: #504D49;
    }
    .login__questions {
        font-family: Montserrat;
        display: flex;
        flex-direction: column;

        left: calc(50% - 5em / 2);
    }
    .login__register {
        text-decoration: none;
        padding-bottom: 10px;
    }
    .login__register:hover {
        cursor: none;
    }
    .login__no-login {
        display: none;
    }
    .arr-reg {
    }

} /*end media 220 - 479 */